body {
    margin: 0;
}
* {
    font-family: 'freight-sans-pro', sans-serif;
}
h2 {
    color: #4a829e;
    text-transform: uppercase;
    font-family: 'mr-eaves-xl-sans', sans-serif;
    font-size: 20px;
    margin: 0;
}
p, input, textarea {
    font-size: 16px;
}
p {
    margin: 0 0 15px 0;
}
a {
    -webkit-tap-highlight-color: transparent;
}
p:last-child {
    margin: 0;
}
.view-content {
    padding: 20px;
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 22px;
    }
    p, input, textarea {
        font-size: 17px;
    }
    .view-content {
        padding: 30px;
    }
}

@media screen and (min-width: 850px) {
    h2 {
        font-size: 24px;
    }
    p, input, textarea {
        font-size: 19px;
    }
    .view-content {
        padding: 50px;
    }
}